/*//////////////////////////////cabecario/////////////////////*/

/*body{
    min-height:1000px;
    background:gray;
    font-family:Arial;
  }*/
  
  header{
    display:block;
  /*  position:fixed;*/
    top:0;
    left:0;
    width:100%;
    background:#03989e;
    text-align:center;
    padding: 50px 0;
height: auto;
  width: 100vw;
  }
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1px;*/

  .header-preto{
    background: #000;
    width: 100vw;
    padding: 60px;
    padding-bottom: 40px;
    text-align: center;
    }
 