/*//////////////////////////////cabecario/////////////////////*/

/*body{
    min-height:1000px;
    background:gray;
    font-family:sans-serif;
  }*/
  header {
    
      margin: 0;
      padding: 0;
      /*
      display: flex
      box-sizing: border-box;*/
      }
      body{
      background: #fcfcfc;
      font-family: sans-serif;
      }
  header{
    /*position: absolute;*/
    top:0;
    left:0;    
    right: 0;
    background:#518291;
    height: auto;
    width:100vw;
    padding-top: 1px;
    color: #fff;
    text-align:center;   

  }
    .header-logo{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: left;
      margin: 1rem  1rem ;
    }

  .header-preto{
    background: #03989e;
    width: 100vw;
    padding: 0px;
    padding-bottom: 50px;
    text-align: center;
    }
    .header-cad{
      color:  rgb(0, 0, 0);
       text-align: center;
    font-size: 20px;
     font-style: open sans;
     border: 1px solid;
    border-radius: 6px;
     border-color: rgb(168, 153, 14);
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-content: space-between;
      display: flex;
      align-items: center;
      justify-content: right;
      margin: 1rem 1rem;
  }
  .header-login{
    color:  rgb(255, 255, 255);
     text-align: center;
  font-size: 20px;
   font-style: open sans;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: right;
    margin: 1rem 1rem;
}
/*////////////////////////////// FIM cabecario/////////////////////*/